<!DOCTYPE HTML><html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>졸업 작품</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" style="max-width: 800px">
    <div class="py-5 text-center">
        <h2>사용자 보험 정보</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">보험 이름</th>
                <th scope="col">보험 가입 날짜</th>
                <th scope="col">보험 시작 날짜</th>
                <th scope="col">보험 만료일</th>
                <th scope="col">보험 상태</th>
                <th scope="col">보험료</th>
                <th scope="col">보상 한도</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="insurance : ${insurances}">
                <td th:text="${insurance.name}">보험 이름</td>
                <td th:text="${insurance.registerDate}">가입 날짜</td>
                <td th:text="${insurance.startDate}">시작 날짜</td>
                <td th:text="${insurance.endDate}">만료일</td>
                <td th:text="${insurance.status}">상태</td>
                <td th:text="${insurance.premium}">보험료</td>
                <td th:text="${insurance.coverageLimit}">보상 한도</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
