<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
  <div>
    <div>
      <form th:object="${insuranceSearch}" class="form-inline">
        <select th:field="*{insuranceName}" class="form-control">
          <option value="">보험명</option>
          <option value="국내B">국내 여행-Basic</option>
          <option value="국내P">국내 여행-Premium</option>
          <option value="해외B">해외 여행-Basic</option>
          <option value="해외P">해외 여행-Premium</option>
        </select>
        <div class="form-group mb-2">
          <input type="text" th:field="*{username}" class="form-control"
                 placeholder="회원명"/>
        </div>
        <div class="form-group mx-sm-1 mb-2">
          <select th:field="*{compensationOption}" class="form-control">
            <option value="">보상 옵션</option>
            <option value="OPTION_EMAIL">상담 후 결정</option>
            <option value="OPTION_AUTO">자동</option>
          </select>
        </div>
        <div class="form-group mx-sm-1 mb-2">
          <select th:field="*{insuranceType}" class="form-control">
            <option value="">보험 유형</option>
            <option value="DOMESTIC">국내</option>
            <option value="OVERSEAS">해외</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">검색</button>
      </form>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">보험명</th>
        <th scope="col">회원명</th>
        <th scope="col">회원 이메일</th>
        <th scope="col">가입 보험료</th>
        <th scope="col">보상 한도</th>
        <th scope="col">신청일</th>
        <th scope="col">보상 상태</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="userInsurance : ${userInsurances}">
        <td th:text="${userInsurance.id}"></td>
        <td th:text="${userInsurance.insurance.name}"></td>
        <td th:text="${userInsurance.user.name}"></td>
        <td th:text="${userInsuarnce.user.email}"></td>
        <td th:text="${userInsurance.registerPrice}"></td>
        <td th:text="${userInsurance.insurance.formattedCoverageLimit}"></td>
        <td th:text="${userInsurance.registerDate}"></td>
        <td th:text="${userInsurance.compensationStatus}"></td>
<!--        <td>-->
<!--          <a th:if="${item.status.name() == 'ORDER'}" href="#"-->
<!--             th:href="'javascript:cancel('+${item.id}+')'"-->
<!--             class="btn btn-danger">CANCEL</a>-->
<!--        </td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
<script>
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/orders/" + id + "/cancel");
 document.body.appendChild(form);
 form.submit();
 }
</script>
</html>